@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:500,700&display=swap&subset=japanese');

html {font-size: 22px;}
html, body {height: 100%;}

body {
  background-image: url(./images/green.jfif);
  background-size: cover;
  background-position: center;
  background-color: #00552e;
  font-family: 'Noto Serif JP', serif;
  color: #2f2725;
  cursor: default;
  display: flex;
  min-height: 100vh;
  table-layout: fixed;
  direction: rtl;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}

/* 本文 */
main {
  background-image: url(./images/washi.jpg);
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 18rem;
  direction: ltr;
  margin: auto 6rem;
  padding: 2.8rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 1rem;
  line-height: 1.2em;
}

p, li {line-height: 1.6em;}

p {text-indent: 1em;}

hr {
  border: 1px solid #2f2725;
  height: 100%;
}

.upright {text-orientation: upright;}
.upright2 {
  -webkit-text-combine: horizontal;
  text-combine-upright: all;
}
.underline {text-decoration: underline;}
.overline {text-decoration: overline;}
.linethrough {text-decoration: line-through;}